<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>getPRep</h1>

<table>
        <tr>
            <td><%= Prep.status %></td>
            <td><%= Prep.grade %></td>
            <td><%= Prep.penalty %></td>
            <td><%= Prep.name %></td>
            <td><%= Prep.email %></td>
            <td><%= Prep.website %></td>
            <td><%= Prep.country %></td>
            <td><%= Prep.city %></td>
            <td><%= Prep.details %></td>
            <td><%= Prep.p2pEndpoint %></td>
            <td><%= Prep.irep %></td>
            <td><%= Prep.irepUpdateBlockHeight %></td>
            <td><%= Prep.status %></td>
            <td><%= Prep.stake %></td>
            <td><%= Prep.delegated %></td>
            <td><%= Prep.totalBlocks %></td>
            <td><%= Prep.validatedBlocks %></td>
        </tr>
</table>
</body>
</html>